*{
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: #f0f2f5;
}

.body-container{
    position: relative;
    width: 100%;
    height: 100vh;
}

.body-container .container-div{
    width: 70%;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container-div-left{
    width: 50%;
    height: 100%;
    float: left;
    position: relative;
}

.container-div-left-center{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.container-div-left h2{
    font-size: 30px;
    margin-left: 32px;
    margin-top: -20px;
}

.container-div-left img{
    margin-top: -28px;
}

.container-div-right{
    width: 50%;
    height: 100%;
    float: left;
    position: relative;
}

.container-div-right-form{
    background-color: #fff;
    width: 70%;
    height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 0 0 2em #c4c6c9;
}

.div-right-createpage{
    text-align: center;
    position: relative;
    top: 400px;
}

.div-right-createpage a{
    color: black;
    font-weight: bold;
    text-decoration: none;
}


.div-right-form-input-email, .div-right-form-input-password, .div-right-form-password {
    text-align: center;
}

.div-right-form-input-email [placeholder], .div-right-form-input-password [placeholder]{
    font-size: 15px;
    padding: 15px;
}

.div-right-form-input-email [type="email"], .div-right-form-input-password [type="password"]{
    margin: 20px;
    width: 90%;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.div-right-form-input-password{
    margin-top: -20px;
}

.div-right-form-button{
    text-align: center;
    /* width: 90%; */
    /* background-color: #1877f2; */
    /* margin: 0 auto; */
    /* border-radius: 10px; */
}

.div-right-form-button button{
    width: 90%;
    margin: 0 auto;
    font-size: 25px;
    padding: 15px;
    text-decoration: none;
    color: #fff;
    display: block;
    border-radius: 10px;
    background-color: #1877f2;
    border: none;
}

.div-right-form-password{
    margin-top: 20px;
}

.div-right-form-password a{
    text-decoration: none;
    color: #1877F2;
}

.div-right-form-newaccount{
    width: 100%;
    text-align: center;
    margin-top: 40px;
}

.div-right-form-newaccount a{
    background-color: #42B72A;
    text-decoration: none;
    color: #fff;
    padding: 18px 25px;
    border-radius: 10px;
}


